@media (min-width:768px) {
body {
background: url(https://img.magnific.com/premium-photo/purple-sound-wave-with-cityscape-background_845014-2515.jpg) center center fixed !important;
background-repeat: no-repeat;
background-size: cover;
color: #F1E7FD;
font-family: 'Bebas Neue', sans-serif;
font-weight: 700 !important;
font-variant: small-caps;
}
}


.col-md-9.col-xs-12 {
background: #200542 !important; /*Tolopia*/
}
/*Background of main page (where pride info is. Note that this sits on top of div.container.main)
Does not contain boxes like div.container.main does*/

@media (max-width: 768px) {
body {
background: url(https://img.magnific.com/premium-photo/purple-sound-wave-with-cityscape-background_845014-2515.jpg) center center fixed !important;
background-repeat: no-repeat;
background-size: cover;
width: auto !important;
min-width: 600px !important;
color: #F1E7FD !important;
font-family: 'Bebas Neue', sans-serif;
font-weight: 700 !important;
font-variant: small-caps;
}
}

div.container.main {
background: #200542!important;
border: 2px solid #8426CB !important;
border-top: none !important;
}
/*Behind the background. If this is not transparent, the base will not be transparent. Contains
game info box, progress bar box, Achievements box, Bookmarks box, chat box, Game Stats box, and
Social Media box*/

.topbar{
background: #200542 !important;
border: none !important;
border-top: none !important;
border-bottom: none !important;
box-shadow: none !important;
color:#F1E7FD !important;
border: 2px solid #8426CB !important;
border-top: none !important;
}
.welcomeback a {
color:#F1E7FD!important;
}
.welcomeback a:hover{
color:#A04FDE !important;
}
center > .table .right > a {
color: #F1E7FD !important;
}
center > .table .right > a:hover {
color: #A04FDE !important;
}
.topbar li a{
color: #F1E7FD !important;
}

.topbar li a:hover{
color:#A04FDE !important;
}
/*for the top bar. "li a" means text link color, and "li a:hover" means text when hovered over*/

.navbar{
background: #0E0324 !important;
border: none !important;
border-bottom: none !important;
border-top: none !important;
border-right: none !important;
box-shadow: none !important;
font-family: 'Bebas Neue', sans-serif;
font-weight: 700 !important;
font-variant: small-caps;
border: 2px solid #8426CB !important;
border-bottom: none !important;
border-left: none !important;
border-right:none !important;
}

.navbar li a{
color:#F1E7FD  !important;
}

.navbar li a:hover{
color:#A04FDE !important;
background: #0E0324 !important;
}
/*Navbar, nav text color, and nav hover color*/

.breadcrumb{
background: #0E0324!important;
border: 2px solid #8426CB !important;
color: #F1E7FD !important;
}

.breadcrumb li a{
color: #F1E7FD !important;
}

.breadcrumb li a:hover{
color:#A04FDE !important;
}
.breadcrumb .active {
color: #F1E7FD !important;
}

.breadcrumb::after {
    content: "CSS by Foxx (#515050)" !important;
    position: absolute;
    right: 20%;
    z-index: 100 !important;
    color: #F1E7FD !important;
}
/*The breadcrumb (where it says "Home/Names den")*/

h1{
color: #F1E7FD !important;
}

.table{
background: #3D2D5C !important;
border: 2px solid #8426CB !important;
}

.table th{
background: #0E0324 !important;
color: #F1E7FD !important;
}

.b.center {
background: #2A1A4C !important;
color: #F1E7FD !important;
}
/*Event notification*/

.top.center{
background:#0E0324!important;
color: #F1E7FD !important;
border-bottom: 2px solid #8426CB !important;
}

.top.center li a{
color: #F1E7FD !important;
}


.b .bigger{
color: #F1E7FD!important;
}
.b .bigger:hover{
color: #A04FDE !important;
}

.h3{
color: #F1E7FD !important;
}
.table .bottom {
background:#0E0324!important;
color: #F1E7FD !important;
border-top: 2px solid #8426CB !important;
}
